# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |  
| RStudio | 
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [4]:
# This is a simple arithmetic expression to multiply then add integers #
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60 #
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science.
- List common libraries used in Data Science.
- Create a table of Data Science tools.
- Evaluate arithmetic expressions.
- Convert time units (minutes to hours).

## Author ##
Rudy Alonso Morales Oliva